@using System.Net.Mime
@if (Track != null)
{
    <div>
        <h2>@Track.Name</h2>
        <p>@Track.Album?.Name @Track.Album?.ReleaseDate - @Track.Artists?.Name</p>
        <img src="@Track.Album?.Image.Url" style="max-width: 75%; max-height: 75%;"/>
    </div>
}

@code {
    [Parameter]
    public TrackDto? Track { get; set; }
}
